services:
  emqx:
    image: emqx/emqx:latest
    container_name: emqx_broker
    ports:
      - "1883:1883"
      - "8083:8083"
      - "18083:18083"
    restart: always
  web-client:
    image: nginx:alpine
    container_name: mqtt_web_client
    ports:
      - "8080:80"        
    volumes:
      - ./index.html:/usr/share/nginx/html/index.html:ro